<main>
    <section class="service_section layout_padding">
        <div class="service_container">
          <div class="container ">
            <div class="heading_container">
              <h2>
                Our <span>Services</span>
              </h2>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              </p>
            </div>
            
            <div class="row" id="service-list">
              <!-- Servisler burada görüntülenecek -->
              {% for service in services %}
              <div class="col-md-6 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/tosbik.png') }}" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>{{ service.title }}</h5>
                    <p>{{ service.description }}</p>
                    <a href="{{ url_for('services') }}">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
                        
          </div>
        </div>
      </section>
</main>

